@use "../base/colors";
@use "../base/fonts";

body {
  margin: 0;
  width: 100%;
  font-family: "Barlow", sans-serif;
  background-color: colors.$font-primary;
}

.header {
  height: 85px;
  width: 100%;
  position: fixed;
  z-index: 1;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$font-primary;
  align-content: center;
  z-index: 9;
}

.logo img {
  width: 75px;
  float: left;
  margin-left: 10px;
  border-radius: 100px;
}

button.menu {
  display: none;
  margin-right: 10px;
  border: 0px;
  background: transparent;
  cursor: pointer;
  img {
    width: 35px;
  }
}

.container {
  width: 100%;
  background-color: colors.$font-primary;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.section {
  margin: 0 4rem 0 4rem;
  max-width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 3rem;
}

h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: normal;
  font-size: 4.6rem;
  margin: 0;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 10px 0 0;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  margin: 0 15rem 0 0;
}

nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 0;
    align-content: center;
    margin: 0;
  }

  a {
    color: colors.$font-secondary;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    font-size: 0.8rem;
    font-weight: bold;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: colors.$primary;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }

  a:hover::after {
    width: 100%;
    left: 0;
  }
}

footer {
  color: colors.$font-primary;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 11rem;
  justify-content: center;
  padding: 15px;
  background-color: colors.$primary;
  a {
    color: colors.$font-primary;
    text-decoration: none;
  }

  a:hover {
    color: colors.$secondary;
  }

  ul {
    list-style: none;
  }
  li {
    margin-bottom: 8px;
  }
}

.background-wrapper img,
.background-wrapper-citroen img,
.background-wrapper-superoffice img,
.background-wrapper-babysam img {
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
}

// animation

.article:hover {
  background: linear-gradient(to left, transparent 50%, black 61%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.hover {
  animation-name: hover;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes hover {
  from {
    font-size: 5vw;
  }

  to {
    font-size: 6vw;
  }
}

.wave {
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes wave {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.9;
  }

  750% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.5;
  }
}

.blur {
  color: #fff;
  text-transform: uppercase;
  animation: blur 1s ease-out 1;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
      0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}

.scroll {
  animation: scroll 800s linear infinite;
}

@keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}

.fade {
  animation: fade 0.5s ease-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

// media-query

@media only screen and (max-width: 600px) {
  button.menu {
    display: block;
  }
  nav {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.3rem;
  }

  h2,
  h3 {
    margin: 0 !important;
    text-align: inherit !important;
  }

  #container-6 form.form {
    width: 100% !important;
  }

  .section {
    margin: 0 2rem 0 2rem;
  }

  #container-6 .context {
    width: 100% !important;
  }

  footer {
    gap: 0;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    ul {
      padding: 0;
    }
  }
}
