@use "../base/colors";
@use "../base/fonts";

.swiper-wrapper {
  align-items: center;

  p {
    visibility: hidden;
    background: colors.$primary;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.swiper-slide {
  height: 400px;
  font-size: 3rem;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  color: colors.$font-primary;
  text-shadow: 2px 4px 3px rgba(179, 175, 175, 0.3);
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: white !important;
}

@media only screen and (max-width: 600px) {
}
