$base: #0d0627;
$primary: #163192;
$secondary: #eff059;
$tertiary: #c18c02;

$contrast-primary: #0b32bd;
$contrast-secondary: rgb(226, 255, 122);

$validated: #92e285;
$not-validated: #ff004d;

$font-primary: white;
$font-secondary: #000000;
$font-tertiary: #c18c02;
