@use "../base/colors";
@use "../base/fonts";

#section-1 {
  width: 100%;
  height: 500px;
  padding-top: 200px;
  padding-bottom: 100px;
}

#container-1 {
  background: colors.$primary; /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(160, 165, 209, 0), colors.$base),
    url("/public/assets/mountain.jpg");
  background: linear-gradient(rgba(160, 165, 209, 0), colors.$base),
    url("/public/assets/mountain.jpg"); /* The least supported option. */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  img {
    object-fit: cover;
  }
  h1,
  h3 {
    color: colors.$font-primary;
  }
}

#container-2 {
  background: colors.$primary; /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0.103),
      colors.$font-primary
    ),
    url("/public/assets/woman-smile.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.151), colors.$font-primary),
    url("/public/assets/woman-smile.jpg"); /* The least supported option. */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  img {
    object-fit: cover;
  }
  h1,
  h2 {
    color: colors.$base;
  }
}

#container-4 {
  background: colors.$font-secondary; /* fallback colour. Make sure this is just one solid colour. */
  background-position: center;
  background-attachment: fixed;

  img {
    object-fit: cover;
  }
  h2,
  h3 {
    color: colors.$font-primary;
  }

  .service-icon-1 {
    width: 150px;
    height: 150px;
    background: url("/public/assets/creative.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .service-icon-2 {
    width: 150px;
    height: 150px;
    background: url("/public/assets/marketing.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .service-icon-3 {
    width: 150px;
    height: 150px;
    background: url("/public/assets/development.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  section#section-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10rem;
  }

  article.service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
    a {
      text-decoration: none;
    }
  }
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background: transparent;
  }
  h4 {
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    color: colors.$font-primary;
  }
}
